* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    max-width: 700px;
    width: 90%;
}

body {
    height: 100%;
    background: #e9e9e9;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

header {
    align-items: center;
    background: #2c3e50;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

header .logo img {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    vertical-align: top;
    width: 200px;
}

form {
    width: 45%;
}

header nav {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header nav a {
    background: #c0392b;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

header nav a:hover {
    background: #e74c3c;
}

.main {
    background: #fff;
    padding: 20px;
    flex: 1 1 70%;
}

.main nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main nav a {
    width: 50%;
    background: #c0392b;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.main nav a:hover {
    background: #e74c3c;
}

.main article .titulo {
    text-align: center;
    width: 100%;
    color: #2c3e50;
    padding: 15px 0;
}

.formulario {
    color: #2c3e50;
    width: 60%;
    background: #fff;
    margin: auto;
}

.formulario input, select {
    color: #2c3e50;
    outline: 0px;
    display: block;
    margin-bottom: 10px;
}

.formulario label, .formulario p {
    font-weight: bold;
}

.formulario input[type="radio"] {
    display: inline-block;
    margin-left: 5px;
    margin-right: 15px;
}

.formulario input[type="password"], .formulario input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #2c3e50;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.formulario input[type="password"]:focus, .formulario input[type="email"]:focus{
    border: 2px solid #c0392b;
}

.formulario input[type="submit"] {
    width: 200px;
    margin: 15px auto;
    background: #c0392b;
    border: 1px solid #c0392b;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.formulario input[type="submit"]:hover {
    background: #e74c3c;
    color: #fff;
}

footer {
    background: #2c3e50;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer .redes-sociales {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    background: #c0392b;
    display: flex;
    flex-wrap: wrap;
}

footer .redes-sociales a {
    color: #fff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
}

footer .redes-sociales a:hover {
    background: #E74C3C;
}

footer .derechos-autor {
    color: #fff;
    font-size: 12px;
}

@media screen and (max-width: 700px) {
    header {
        flex-direction: column;
        padding: 0;
    }
    header .logo {
        margin: 10px 0;
    }
    header form {
        text-align: center;
        width: 80%;
        margin-bottom: 15px;
    }
    header nav {
        width: 100%;
        justify-content: space-around;
        background-color: #c0392b;
    }
    header nav a {
        width: 50%;
    } 
    .formulario {
        width: 70%;
    }
    aside {
        flex-direction: column;
    }
    footer {
        flex-direction: column;
    }
    footer .derechos-autor {
        margin-bottom: 15px;
    }
}